# Dependencies
node_modules
.pnp
.pnp.js

# Production build
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.production
.env.development

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# Vite & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
